<p></p> 
<h1>DQ </h1>
<p></p> 
<p></p> 
<p></p> 
<form action="{% url 'bundesliga_all_check_matchday' %}">
	<button type="submit" name = "check_matchday_bl1" value = "check_matchday_bl1" class="btn btn-primary btn-sm" >Check Query Matchdays Bundesliga</button>
<p></p> 
<p></p> 
</form>

<form action="{% url 'premierleague_all_check_matchday' %}">
	<button type="submit" name = "check_matchday_pl" value = "check_matchday_pl" class="btn btn-primary btn-sm" >Check Query Matchdays Premierleague</button>
<p></p> 
<p></p> 
</form>

<form action="{% url 'bundesliga_all_check_clubs' %}">
	<button type="submit" name = "check_club_nbr_bl1" value = "check_club_nbr_bl1" class="btn btn-primary btn-sm" >Check Query Club Number Bundesliga</button>
<p></p> 
<p></p> 
</form>

<form action="{% url 'premierleague_all_check_clubs' %}">
	<button type="submit" name = "check_club_nbr_pl" value = "check_club_nbr_pl" class="btn btn-primary btn-sm" >Check Query Club Number Premierleague</button>
<p></p> 
<p></p> 
</form>
